
div .split-wrapper {
    overflow: hidden;
}

div .split-wrapper .split-column {
    box-sizing: border-box;
    /* Remove following lines for linux only */
    float: left;
    width: 50%;
}

div .vertical-bar {
    border-left: 4px solid #eee;
}

.reveal .windows {
    /* Uncomment following for linux only. */
    /* display: none; */
}

